.everything1{
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin-top: 30px;
    margin-bottom: 100px;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow: hidden;
    padding-bottom: 10px;
}

.jobtitle {
    font-size: 26px;
    color: white;
    margin: 0px;
  }

  .section{
    display:flex;
    flex-direction: column;
    background-color:  #101318;
    padding: 30px;
    margin: 20px 0px;
    -webkit-box-shadow: -1px 10px 44px -12px rgba(158,204,235,0.31);
    -moz-box-shadow: -1px 10px 44px -12px rgba(158,204,235,0.31);
    box-shadow: -1px 10px 44px -12px rgba(158,204,235,0.31);
    border-color: white;
    width:60%;
    border-radius: 7px;
  }

  .information{
    width: 70%;
  }

  .worklogo{
    background-color: yellow;
    width: 30%;
    align-items: center;
    justify-content: center;
  }

  .image{
    height: 250px;
    width: auto;
    margin: 0px;
    padding:0px;
    margin-right: 10000px;
  }

  .image1{
    height: 180px;
    width: auto;
    margin: 10px;
    padding:0px;
    border-radius: 50%;

  }

